section.block-footer
    .block-01
        .box-01
            .containers
                .box-left
                    ul.nav
                        li.nav-item
                            a.nav-link(href='#') Business Partner
                            a.nav-link(href='#') Media & press
                    .divider
                    .sidebar-nav.sidebar-left
                        input#navCheck-left(type="checkbox")
                        label.nav-link.col-pad(for="navCheck-left") top destinations
                            i.fa.fa-caret-down
                        .sidebar-nav-button-left
                            ul.navbar-nav.flex-column
                                li.nav-item
                                    a.nav-link(href="#") Bangkok
                                li.nav-item
                                    a.nav-link(href="#") Chiang mai
                                li.nav-item
                                    a.nav-link(href="#") Phuket
                                li.nav-item
                                    a.nav-link(href="#") Pattaya
                                li.nav-item
                                    a.nav-link(href="#") Krabi
                    .divider
                    ul.nav
                        li.nav-item
                            a.nav-link(href='#') about thailand
                            a.nav-link(href='#') what’s new
                            a.nav-link(href='#') events & festivals
                    .divider
                .box-right
                    ul.nav
                        li.nav-item
                            a.nav-link(href='#') attractions
                            a.nav-link(href='#') things to do
                            a.nav-link(href='#') shopping
                            a.nav-link(href='#') food & drinks
                            a.nav-link(href='#') trip planner
                            a.nav-link(href='#') about tat
                    .divider
                    .sidebar-right
                        input#navCheck-right(type="checkbox")
                        label.nav-link.col-pad(for="navCheck-right") e-service
                            i.fa.fa-caret-down
                        .sidebar-nav-button-right
                            ul.navbar-nav.flex-column
                                li.nav-item
                                    a.nav-link(href="#") Deal alert email
                                li.nav-item
                                    a.nav-link(href="#") Multimedia
                                li.nav-item
                                    a.nav-link(href="#") Send an e-card
                                li.nav-item
                                    a.nav-link(href="#") Send a complaint
                                li.nav-item
                                    a.nav-link(href="#") Download E-Brochure
                                li.nav-item
                                    a.nav-link(href="#") Website Feedback
                                li.nav-item
                                    a.nav-link(href="#") Poll
   
        .box-02
            .containers 
                .row
                    .col-2.col-xl-1
                        img.TAT-logo(src="../src/images/logo/tat-logo.png" srcset="../src/images/logo/tat-logo@2x.png 2x,../src/images/logo/tat-logo@3x.png 3x")
                    .col-10.col-xl-3.box-text
                        .active Tourism Authority of Thailand
                        .detail
                            | 1600 New Phetchaburi Road, Makkasan, Ratchathevi, Bangkok 10400, THAILAND 
                            | Tel: 662 250 5500, TAT Contact Center: 1672
                    .col-12.col-xl-8.box-text
                        .active Disclaimer
                        .detail
                            | All the travel information regarding products, services and travel deals on the website is provided by the suppliers of the particular products and services. The information may change without notice; therefore, check the accuracy of the information with the relevant supplier before making use of it.
    .block-02
        .containers
            .row.no-gutters
                .col-12.col-xl-6.left
                    a.nav-link.left(href="#") Copyright © 2003-2017 Tourism Authority of Thailand
                .col-12.col-xl-6
                    .grid-container
                        a.nav-link.right(href='#') Terms of Use
                        a.nav-link.right(href='#') Privacy Policy
                        a.nav-link.right(href='#') Site Map
                        a.nav-link.right(href='#') Contact Us