doctype html
html(lang="en")
  head
    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // Bootstrap CSS
    link(rel="stylesheet" href="../src/assets/vendor/bootstrap-4.1.0-dist/css/bootstrap.min.css")
    //css
    link(rel="stylesheet", href="../src/css/styles.css")
    title aboutThailand
  body
    // navigate bar
    include _components/nav.pug
    // content
    article.block-content
      .head-content
          .head-title ABOUT THAILAND
          .head-body.more
            //readmore: max 800 ,readless: show all
            p
            | Located in Southeast Asia, Thailand covers a total area of approximately 513,000 square kilometers (198,000 square miles) and is the 50th largest country in the world and the 12th largest in Asia!
            p
            | The north of the country borders Myanmar and Laos. The northernmost point is Amphoe Mae Sai, Chiang Rai Province, with tourist attractions like Mae Sai Market, Golden Triangle, Wat Phra That Doi Wao, and Wat Thampla (locally known as Money Temple).
            p
            | The south of the country is next to Malaysia and the Gulf of Thailand. The southernmost point is Amphoe Betong, Yala Province, which contains tourist attractions like La-ong Rung Waterfall (Rainbow Waterfall), Chaloem Phrakiat Waterfall (I-yer Khem Waterfall), Bala-Hala Forest, the sea of fog at Microwave Mountain, and Betong Hot Spring.
      .body-content
        .block-img
          .containers
            .row.no-gutters
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-thailand-dest.jpg" srcset="../src/images/aboutThailand/abt-thailand-dest@2x.jpg 2x,../src/images/aboutThailand/abt-thailand-dest@3x.jpg 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Travel to Thailand
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-travelto-thai.png" srcset="../src/images/aboutThailand/abt-travelto-thai@2x.png 2x,../src/images/aboutThailand/abt-travelto-thai@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Travel to Thailand
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-travel-around-thai.png" srcset="../src/images/aboutThailand/abt-travel-around-thai@2x.png 2x,../src/images/aboutThailand/abt-travel-around-thai@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Travel Around Thailand
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-travel-agents.png" srcset="../src/images/aboutThailand/abt-travel-agents@2x.png 2x,../src/images/aboutThailand/abt-travel-agents@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Travel Agents in Your Country
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-travel-offers.png" srcset="../src/images/aboutThailand/abt-travel-offers@2x.png 2x,../src/images/aboutThailand/abt-travel-offers@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Travel Offers from Your Country
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-thailand-airports.jpg" srcset="../src/images/aboutThailand/abt-thailand-airports@2x.jpg 2x,../src/images/aboutThailand/abt-thailand-airports@3x.jpg 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Thailand Airports
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-passport.jpg" srcset="../src/images/aboutThailand/abt-passport@2x.jpg 2x,../src/images/aboutThailand/abt-passport@3x.jpg 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Passport & Visa
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-custom.jpg" srcset="../src/images/aboutThailand/abt-custom@2x.jpg 2x,../src/images/aboutThailand/abt-custom@3x.jpg 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Custom & Immigration
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-utilities.jpg" srcset="../src/images/aboutThailand/abt-utilities@2x.jpg 2x,../src/images/aboutThailand/abt-utilities@3x.jpg 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Utilities & Services
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-language.png" srcset="../src/images/aboutThailand/abt-language@2x.png 2x,../src/images/aboutThailand/abt-language@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Language & Communication
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-business-hours.png" srcset="../src/images/aboutThailand/abt-business-hours@2x.png 2x,../src/images/aboutThailand/abt-business-hours@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Business Hours
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-thailand-holiday.png" srcset="../src/images/aboutThailand/abt-thailand-holiday@2x.png 2x,../src/images/aboutThailand/abt-thailand-holiday@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Thailand Holiday
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-bank.png" srcset="../src/images/aboutThailand/abt-bank@2x.png 2x,../src/images/aboutThailand/abt-bank@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Bank & Currency Converter
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-weather.png" srcset="../src/images/aboutThailand/abt-weather@2x.png 2x,../src/images/aboutThailand/abt-weather@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Weather
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-food.png" srcset="../src/images/aboutThailand/abt-food@2x.png 2x,../src/images/aboutThailand/abt-food@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Food & Drink
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-shopping.png" srcset="../src/images/aboutThailand/abt-shopping@2x.png 2x,../src/images/aboutThailand/abt-shopping@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Shopping
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-economics.png" srcset="../src/images/aboutThailand/abt-economics@2x.png 2x,../src/images/aboutThailand/abt-economics@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Economics & Politics
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-geography.png" srcset="../src/images/aboutThailand/abt-geography@2x.png 2x,../src/images/aboutThailand/abt-geography@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Geography
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-religion.png" srcset="../src/images/aboutThailand/abt-religion@2x.png 2x,../src/images/aboutThailand/abt-religion@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Religion
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-nature.png" srcset="../src/images/aboutThailand/abt-nature@2x.png 2x,../src/images/aboutThailand/abt-nature@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Nature
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-history.png" srcset="../src/images/aboutThailand/abt-history@2x.png 2x,../src/images/aboutThailand/abt-history@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 History & Culture
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-about-tourism.png" srcset="../src/images/aboutThailand/abt-about-tourism@2x.png 2x,../src/images/aboutThailand/abt-about-tourism@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 About Tourism Thailand
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-useful-call.png" srcset="../src/images/aboutThailand/abt-useful-call@2x.png 2x,../src/images/aboutThailand/abt-useful-call@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 Useful Calls
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
              .col-6.col-md-4.col-lg-4.col-xl-3
                .box-img
                  figure
                    img(src="../src/images/aboutThailand/abt-fa-qs.png" srcset="../src/images/aboutThailand/abt-fa-qs@2x.png 2x,../src/images/aboutThailand/abt-fa-qs@3x.png 3x")
                    .actions
                  .block
                    .style-text 
                      h2 FAQs
                    .box-link
                      center
                        .Ellipse-1055
                          i.fa.fa-link
    //footer
    include _components/footer.pug

    // jQuery first, then Popper.js, then Bootstrap JS
    script(type='text/javascript', src="../src/assets/vendor/bootstrap-4.1.0-dist/js/jquery-3.3.1.slim.min.js")
    script(type='text/javascript', src="../src/assets/vendor/bootstrap-4.1.0-dist/js/popper.min.js")
    script(type='text/javascript', src="../src/assets/vendor/bootstrap-4.1.0-dist/js/bootstrap.min.js")  
    
    // Optional JavaScript
    script(type='text/javascript', src="../src/js/script.js") 
