doctype html
html(lang="en")
  head
    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // Bootstrap CSS
    link(rel="stylesheet" href="../src/assets/vendor/bootstrap-4.1.0-dist/css/bootstrap.min.css")
    //css
    link(rel="stylesheet", href="../src/css/styles.css")
    title AboutThailand_ThailandHoliday
  body
    // navigate bar
    include _components/nav.pug
    // banner
    section.block-banner
      img.abt_HeroBanner(src="../src/images/banner/abt-hero-banner.jpg" srcset="../src/images/banner/abt-hero-banner@2x.jpg 2x,../src/images/banner/abt-hero-banner@3x.jpg 3x")
    // content
    article.block-content
      .head-content
          .menu-nav
            ul.nav
              li.nav-item
                a.nav-link(href="#") home 
              li.nav-item
                .nav-link
                  i.fa.fa-angle-double-right
              li.nav-item
                a.nav-link.sub-link(href="#") ABOUT THAILAND
              li.nav-item
                .nav-link
                  i.fa.fa-angle-double-right
              li.nav-item
                a.nav-link.active(href="#") thailand holiday
          .head-sub about thailand
          .head-title thailand holiday
      .body-content
        .containers
          .top
            .row
              .style-border.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3
                .boy-holiday  
                  .box-head
                    .row.no-gutters
                        .col-1.style-left 01
                        .col-11.style-right January
                    .line
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 01
                        .col-9
                          .style-right New Year’s Day
                          .style-detail
                            p
              .style-border.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3
                .boy-holiday  
                  .box-head
                    .row.no-gutters
                        .col-1.style-left 02
                        .col-11.style-right february
                    .line
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 16
                        .col-9
                          .style-right Chinese new year
                          .style-detail
                            p
              .style-border.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3
                .boy-holiday  
                  .box-head
                    .row.no-gutters
                        .col-1.style-left 03
                        .col-11.style-right march
                    .line
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 1
                        .col-9
                          .style-right MAKHA BUCHA DAY
                          .style-detail 
                            p Buddhist holiday which takes place annually on the night of the full moon during the third lunar month 
              .style-border.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3
                .boy-holiday  
                  .box-head
                    .row.no-gutters
                        .col-1.style-left 04
                        .col-11.style-right april
                    .line
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 6
                        .col-9
                          .style-right MCHAKRI MEMORIAL DAY
                          .style-detail 
                            p Honoring the dynasty of the reigning royal family.
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 13-15
                        .col-9
                          .style-right SONGKRAN DAY
                          .style-detail 
                            p Traditional Thai new year
              .style-border.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3
                .boy-holiday  
                  .box-head
                    .row.no-gutters
                        .col-1.style-left 05
                        .col-11.style-right may
                    .line
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 1
                        .col-9
                          .style-right LABOR DAY
                          .style-detail 
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 14
                        .col-9
                          .style-right ROYAL PLOUGHING CEREMONY
                          .style-detail 
                            p To honor farming season; date determined by royal astrologer.
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 29
                        .col-9
                          .style-right VISAKHA PUJA DAY
                          .style-detail 
                            p Commemorates the Buddha's birth, enlightenment and death
              .style-border.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3
                .boy-holiday  
                  .box-head
                    .row.no-gutters
                        .col-1.style-left 06
                        .col-11.style-right june
                    .line
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 
                        .col-9
                              .style-right 
                              .style-detail 
                                p No Holiday This Month.
              .style-border.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3
                .boy-holiday  
                  .box-head
                    .row.no-gutters
                        .col-1.style-left 07
                        .col-11.style-right july
                    .line
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 27
                        .col-9
                          .style-right ASALHA PUJA DAY
                          .style-detail 
                            p Buddhist observance commemorating the Buddha's first discourse, the Dhammacakkappavattana Sutta
                  .box-body
                    .row.no-gutters
                        .col-3.style-left -
                        .col-9
                          .style-right KHAO PHANSA DAY
                          .style-detail 
                            p beginning of Buddhist lent on first waning moon of 8th lunar month.
              .style-border.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3
                .boy-holiday  
                  .box-head
                    .row.no-gutters
                        .col-1.style-left 08
                        .col-11.style-right august
                    .line
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 12
                        .col-9
                          .style-right HM THE QUEEN'S BIRTHDAY (NOTHER' DAY)
                          .style-detail
                            p 
              .style-border.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3
                .boy-holiday  
                  .box-head
                    .row.no-gutters
                        .col-1.style-left 09
                        .col-11.style-right september
                    .line
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 
                        .col-9
                          .style-right 
                          .style-detail 
                            p No Holiday This Month.
              .style-border.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3
                .boy-holiday  
                  .box-head
                    .row.no-gutters
                        .col-1.style-left 10
                        .col-11.style-right october
                    .line
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 16
                        .col-9
                          .style-right The Passing of King Bhumibol
                          .style-detail 
                            p Buddhist holiday which takes place annually on the night of the full moon during the third lunar month 
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 23
                        .col-9
                          .style-right CHULALONGKORN MEMORIAL DAY
                          .style-detail 
                            p Commemorates the passing of King Chulalongkorn in 1910
              .style-border.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3
                .boy-holiday  
                  .box-head
                    .row.no-gutters
                        .col-1.style-left 11
                        .col-11.style-right november
                    .line
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 
                        .col-9
                          .style-right 
                          .style-detail 
                            p No Holiday This Month.
              .style-border.col-12.col-sm-6.col-md-4.col-lg-3.col-xl-3
                .boy-holiday  
                  .box-head
                    .row.no-gutters
                        .col-1.style-left 12
                        .col-11.style-right december
                    .line
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 05
                        .col-9
                          .style-right KING'S BIRTHDAY (FATHER'S DAY)
                          .style-detail 
                            p Commemorates the birthday of King Bhumibol Adulyadej in 1927. Also observed as National 
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 10
                        .col-9
                          .style-right CONSTITUTION DAY
                          .style-detail 
                            p Commemorates the promulgation of the first permanent constitution in 1932.
                  .box-body
                    .row.no-gutters
                        .col-3.style-left 31
                        .col-9
                          .style-right NEW YEAR'S EVE
                          .style-detail 
                            p
    //footer
    include _components/footer.pug

    // Optional JavaScript
    script(type='text/javascript', src="../src/js/script.js")  
    // jQuery first, then Popper.js, then Bootstrap JS
    script(type='text/javascript', src="../src/assets/vendor/bootstrap-4.1.0-dist/js/jquery-3.3.1.slim.min.js")
    script(type='text/javascript', src="../src/assets/vendor/bootstrap-4.1.0-dist/js/popper.min.js")
    script(type='text/javascript', src="../src/assets/vendor/bootstrap-4.1.0-dist/js/bootstrap.min.js")  
