doctype html
html(lang="en")
  head
    // Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // Bootstrap CSS
    link(rel="stylesheet" href="../src/assets/vendor/bootstrap-4.1.0-dist/css/bootstrap.min.css")
    //css
    link(rel="stylesheet", href="../src/css/styles.css")
    title AboutThailand_TravelAgents
  body
    // navigate bar
    include _components/nav.pug
    // banner
    section#banner
      img.abt_HeroBanner(src="../src/images/banner/abt-hero-banner.jpg" srcset="../src/images/banner/abt-hero-banner@2x.jpg 2x,../src/images/banner/abt-hero-banner@3x.jpg 3x")
    // content
    article.block-content
      .head-content
          .menu-nav
            ul.nav
              li.nav-item
                a.nav-link(href="#") home 
              li.nav-item
                .nav-link
                  i.fa.fa-angle-double-right
              li.nav-item
                a.nav-link.sub-link(href="#") ABOUT THAILAND
              li.nav-item
                .nav-link
                  i.fa.fa-angle-double-right
              li.nav-item
                a.nav-link.active(href="#") travel agents in your country
          .head-sub about thailand
          .head-title TRAVEL Agents in your country
          .head-body
            | Thailand Tour Operators and Travel Agents who organize Thailand tour packages and provide specialty Thailand tours are available in various countries.  Either selects your own country or another country you wish to travel from in order to find a Thailand tour agent that can help you plan your ultimate Thailand holiday fantasy.
      .body-content
        .bg-jumbotron
          .containers
            .style-head select country
            .block-table
              //col.1
              .bl-ta-hover
                .left Australia
                .right 38
              .bl-ta-hover  
                .left Bangladesh
                .right 4
              .bl-ta-hover  
                .left Bhutan
                .right 1
              .bl-ta-hover  
                .left Burma
                .right 1
              .bl-ta-hover  
                .left Cambodia
                .right 4
              .bl-ta-hover  
                .left Canada
                .right 49
              .bl-ta-hover  
                .left China
                .right 7
              .bl-ta-hover  
                .left Denmark
                .right 1
              .bl-ta-hover  
                .left Estonia
                .right 1
              .bl-ta-hover  
                .left Finland
                .right 2
              // col.2
              .bl-ta-hover  
                .left France
                .right 1
              .bl-ta-hover  
                .left Germany
                .right 2
              .bl-ta-hover  
                .left Hong Kong
                .right 1
              .bl-ta-hover  
                .left Iceland
                .right 4
              .bl-ta-hover  
                .left India
                .right 2
              .bl-ta-hover  
                .left Indonesia
                .right 3
              .bl-ta-hover  
                .left Ireland
                .right 1
              .bl-ta-hover  
                .left Japan
                .right 6
              .bl-ta-hover  
                .left Laos
                .right 2
              .bl-ta-hover  
                .left Malaysia
                .right 1
              // col.3
              .bl-ta-hover  
                .left Nepal
                .right 6
              .bl-ta-hover  
                .left Netherlands
                .right 4
              .bl-ta-hover  
                .left New Zealand
                .right 6
              .bl-ta-hover  
                .left Pakistan
                .right 1
              .bl-ta-hover  
                .left Phillippines
                .right 5
              .bl-ta-hover  
                .left Portugal
                .right 1
              .bl-ta-hover  
                .left Russia
                .right 1
              .bl-ta-hover  
                .left Saudi Arabia
                .right 1
              .bl-ta-hover  
                .left Singapore
                .right 42
              .bl-ta-hover  
                .left Spain
                .right 2
              //col.4
              .bl-ta-hover  
                .left Sweden
                .right 3
              .bl-ta-hover  
                .left Switzerland
                .right 1
              .bl-ta-hover  
                .left Taiwan
                .right 1
              .bl-ta-hover  
                .left Thailand
                .right 17
              .bl-ta-hover  
                .left Turkey
                .right 1
              .bl-ta-hover  
                .left UAE
                .right 2
              .bl-ta-hover  
                .left United Arab Emirates
                .right 8
              .bl-ta-hover  
                .left United Kingdom
                .right 73
              .bl-ta-hover  
                .left United States
                .right 107
              .bl-ta-hover  
                .left Vietnam
                .right 13
    //footer
    include _components/footer.pug

    // Optional JavaScript
    script(type='text/javascript', src="../src/js/script.js")  
    // jQuery first, then Popper.js, then Bootstrap JS
    script(type='text/javascript', src="../src/assets/vendor/bootstrap-4.1.0-dist/js/jquery-3.3.1.slim.min.js")
    script(type='text/javascript', src="../src/assets/vendor/bootstrap-4.1.0-dist/js/popper.min.js")
    script(type='text/javascript', src="../src/assets/vendor/bootstrap-4.1.0-dist/js/bootstrap.min.js")  
